


@font-face {
  font-family: "Libre Baskerville";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/libre_baskerville/librebaskerville_n4.2ec9ee517e3ce28d5f1e6c6e75efd8a97e59c189.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/libre_baskerville/librebaskerville_n4.323789551b85098885c8eccedfb1bd8f25f56007.woff") format("woff");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_n4.0ba78fa5af9b0e1a374041b3ceaadf0a43b41362.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_n4.214741a72ff2596839fc9760ee7a770386cf16ca.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/montserrat/montserrat_n5.07ef3781d9c78c8b93c98419da7ad4fbeebb6635.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/montserrat/montserrat_n5.adf9b4bd8b0e4f55a0b203cdd84512667e0d5e4d.woff") format("woff");
}



  @font-face {
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/libre_baskerville/librebaskerville_n7.eb83ab550f8363268d3cb412ad3d4776b2bc22b9.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/libre_baskerville/librebaskerville_n7.5bb0de4f2b64b2f68c7e0de8d18bc3455494f553.woff") format("woff");
}




  @font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/montserrat/montserrat_n6.1326b3e84230700ef15b3a29fb520639977513e0.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/montserrat/montserrat_n6.652f051080eb14192330daceed8cd53dfdc5ead9.woff") format("woff");
}




  @font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_n5.ad5b4b72b59a00358afc706450c864c3c8323842.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_n5.33757fdf985af2d24b32fcd84c9a09224d4b2c39.woff") format("woff");
}







  @font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_i4.846ad1e22474f856bd6b81ba4585a60799a9f5d2.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_i4.56b43284e8b52fc64c1fd271f289a39e8477e9ec.woff") format("woff");
}



  @font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_i5.6acfce842c096080e34792078ef3cb7c3aad24d4.woff2") format("woff2"),
       url("//toi-n-moi.co.uk/cdn/fonts/poppins/poppins_i5.a49113e4fe0ad7fd7716bd237f1602cbec299b3c.woff") format("woff");
}


